/* general rules */
:root {
    --dark: #1E1E1E;
    --darkblue: #080B12;
    --navy: #141922;
    --darkgrey: #282828;
    --lemon: #ADFF2F;

    --font-grey: #828282;
    --font-lightgrey: #c1c1c1;

}


/* reset rules */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color: var(--font-lightgrey);
}

a {
    text-decoration: none;
    color: currentColor;
}

ul, ol, li, menu {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}


/* layout rules */
body {
    height: 100vh;
    background-color: lightcoral;
    display: flex;
    flex-direction: column;
}

.debug .container,
.debug .row,
.debug .col {
    border: 2px dashed black;
    /* padding: 5px; */
    color: white;
}

.container {
    padding: 0 10px;
}

.row {
    display: flex;
}

.app-nav .container, 
.app-nav .row,
.app-player .container,
.app-player .row {
    height: 100%;
}

.app-window {
    background-color: var(--lemon);
    flex-grow: 1;

    display: flex;

    overflow: hidden;
}

.app-player {
    background-color: var(--darkgrey);
    height: 90px;
    padding: 10px 0;
}

.app-nav {
    background-color: var(--dark);
    width: 220px;
    flex-shrink: 0;
}

.main-content {
    background-color: var(--navy);
    flex-grow: 1;
    flex-shrink: 1;
    overflow-y: auto;
}

/* buttons rules */
.button {
    font-size: 1rem;
}

.button--big {
    font-size: 1.75rem;
}


/*****************
app-player rules 
******************/
.app-player .container > .row {
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

/* current-track section */
.current-track__section,
.current-track__section .row {
    gap: 0 10px;
    align-items: center;
}

.current-track__img {
    width: 40px;
    aspect-ratio: 1;
}

.current-track__artist, 
.current-track__name {
    font-size: 0.75rem;
}

.current-track__name,
.current-track__icon {
    color: var(--font-grey);
}

.current-track__icon {
    font-size: 1rem; 
}

/* music player section */
.music-player > .row {
    flex-direction: column;
    align-items: center;
    gap: 3px 0;
    width: 100%;
}

.music-player.col {
    flex-grow: 1;
}

.music-player__buttons,
.music-player__time {
    gap: 0 20px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.progress__timeline {
    flex-basis: 50%;
    position: relative;
}

.progress__timeline .timeline-progress,
.progress__timeline .timeline-total {
    padding: 4px;
    position: absolute;
    transform: translate(0, -50%);
    border-radius: 50px;
}

.progress__timeline .timeline-progress {
    background-color: var(--font-lightgrey);
    width: 35%;
    z-index: 1;
}

.progress__timeline .timeline-total {
    background-color: var(--font-grey);
    width: 100%;
}

.progress__time,
.total__time {
    font-size: 0.75rem;
}

/* other option section */
.other-option > .row {
    gap: 0 10px;
    padding: 0 10px;
    align-items: center;
}

.progress__volume {
    position: relative;
    width: 100px;
}

.volume-progress,
.volume-total {
    padding: 4px;
    border-radius: 50px;
    position: absolute;
    transform: translate(0, -50%)
}

.volume-progress {
    background-color: var(--font-lightgrey);
    width: 35%;
    z-index: 1;
}

.volume-total {
    background-color: var(--font-grey);
    width: 100%;
}

.button-settings {
    display: none;
}



/*****************
navbar rules 
******************/
/* version 1.0 */
.app-nav .container,
.app-nav .row,
.app-nav .col {
    border: 2px solid red;
}


.app-nav .container > .row {
    flex-direction: column;
    gap: 30px 0;
}

.app-nav .playlist-menu {
    flex-grow: 1;
}

/* main-menu section */
.logo--small {
    display: none;
}


.nav__button {
    display: flex;
    align-items: center;
    align-content: center;
    gap: 0 10px;
    text-align: center;
    padding: 10px 0;
}

.nav__button .button__icon {
    flex-basis: 2rem;
    font-size: 1.5rem;
}

.button__icon.button--big i,
.button__text.button--big {
    font-size: 2.5rem;
    font-weight: 700;
    color: white;
}

/* playlist menu section */
.playlist-menu .row {
    flex-direction: column;
}

.playlist-menu .row .col {
    padding: 10px 0;
}

.playlist__option .option__title {
    text-transform: uppercase;
    font-weight: 700;
    color: white;
}

.playlist__add-button {
    display: flex;
    align-items: center;
    align-content: center;
    text-align: center;
    gap: 0 10px;
}

.playlist__add-button .button__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--dark);
    background-color: var(--font-grey);
    font-weight: 700;
    font-size: 3rem;
    padding: 5px;
    width: 60px;
    height: 60px;
}

.playlist__list .playlist__item {
    margin-bottom: 20px;
}

/* user menu section */
.button__icon.button--small i,
.button__text.button--small {
    font-size: 0.75rem;
    font-weight: 400;
}

.user-menu .nav__button {
    display: flex;
    flex-wrap: wrap;
}

.user-menu .button__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 0;
}

.user-menu .button__text {
    flex-grow: 1;
    text-align: left;
}

.user-menu .nav__button:first-child:after {
    content: '';
    display: flex;
    flex-basis: 100%;
    padding: 1px;
    background-color: var(--font-grey);
    flex-grow: 0;
    margin-top: 20px;
}

/**********************
 main-content section
***********************/
/* .main-content .container, 
.main-content .row,
.main-content .col {
    border: 2px dashed coral;
    padding: 20px;
} */

/* upgrade section */
.upgrade-banner {
    background-color: var(--darkblue);
}

.upgrade-banner .row {
    justify-content: flex-end;
}

.link {
    border: 1px solid white;
    border-radius: 50px;
    margin: 25px 0;
}

.link a {
    padding: 0 40px;
    line-height: 40px;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
}


/* music-content section */
/* filter-menu section */
.filter__menu {
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px 0;
}

.filter__option a {
    padding: 10px 20px;
}

.filter__option::after {
    content: '';
    display: block;
    width: 35px;
    padding: 2px;
    background-color: transparent;
    margin: 5px auto;
}

/* recently played section */
.section__content .row {
    margin: 0 -10px;
    /* justify-content: space-between; */
    flex-wrap: wrap;
}

.section__content .col {
    /* flex-basis: 100%; */
    padding: 0 10px;
}

.section__title {
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
    padding: 30px 0 10px;
}

.section__subtitle {
    font-size: 1rem;
    font-weight: 400;
    padding-bottom: 10px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card > * {
    margin-bottom: 15px;
}

.card img {
    max-width: 100%;
}

.card__img {
    position: relative;
}

/* prototype hover card */
.card__img-hover {
    display: none;
}
/* prototype hover card */



.card .track__title {
    font-size: 1.25rem;
    font-weight: 700;
    color: white;
}

.card .track__subtitle {
    font-size: 0.8rem;
}

/* popular-artists-section */
.popular-artists-section .card img {
    border-radius: 50%;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
}



/*******************
hover effects
********************/
.button--hover:hover * {
    color: white;
    font-weight: 700;
}

.filter__option:hover:after {
    background-color: var(--lemon);
}

/* 
da capire
*/
li.nav__button:not(.no-bar):hover::before {
    content: '';
    display: block;
    padding: 10px 3px;
    background-color: var(--lemon);
    /* margin-left: -12px; */
}


.upgrade-banner .link:hover {
    transform: scale(1.2);
    position: relative;
    right: 20px;
}

.hover-bigger:hover {
    transform: scale(1.2);
}


.progress-bar:hover {
    background-color: var(--lemon);
}

.progress-bar:hover:after {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    padding: 4px;
    position: absolute;
    right: 0;
    transform: translate(0, -50%);
    border-radius: 50px;
    z-index: 2;
    background-color: white;
}

/* prototype hover card */
.card__img:hover .card__img-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    font-size: 4rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.card__img:hover .card__img-hover.img-hover--circular {
    border-radius: 50%;
}

.card__img:hover .card__img-hover i {
    color: white;
}
/* prototype hover card */

