/* general rules */
:root {
    --dark: #1E1E1E;
    --darkblue: #080B12;
    --navy: #141922;
    --darkgrey: #282828;
    --lemon: #ADFF2F;

    --font-grey: #828282;
    --font-lightgrey: #c1c1c1;

}


/* reset rules */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color: var(--font-lightgrey);
}

a {
    text-decoration: none;
    color: currentColor;
}

ul, ol, li, menu {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}


/* layout rules */
body {
    height: 100vh;
    background-color: lightcoral;
    display: flex;
    flex-direction: column;
}

.debug .container,
.debug .row,
.debug .col {
    border: 2px dashed black;
    /* padding: 5px; */
    color: white;
}

.container {
    padding: 0 10px;
    height: 100%;
}

.row {
    display: flex;
    height: 100%;
}

.app-window {
    background-color: var(--lemon);
    flex-grow: 1;

    display: flex;
}

.app-player {
    background-color: var(--darkgrey);
    height: 90px;
}

.app-nav {
    background-color: var(--dark);
    width: 220px;
}

.app-content {
    background-color: var(--navy);
    flex-grow: 1;
}

/* buttons rules */
.button {
    font-size: 1rem;
}

.button--big {
    font-size: 1.75rem;
}


/*****************
app-player rules 
******************/
.app-player .container > .row {
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

/* current-track section */
.current-track__section,
.current-track__section .row {
    gap: 0 10px;
    align-items: center;
}

.current-track__img {
    width: 40px;
    aspect-ratio: 1;
}

.current-track__artist, 
.current-track__name {
    font-size: 0.75rem;
}

.current-track__name,
.current-track__icon {
    color: var(--font-grey);
}

.current-track__icon {
    font-size: 1rem; 
}

/* music player section */
.music-player > .row {
    flex-direction: column;
    align-items: center;
    gap: 10px 0;
    width: 100%;
}

.music-player.col {
    flex-grow: 1;
}

.music-player__buttons,
.music-player__time {
    gap: 0 20px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.progress__timeline {
    flex-basis: 50%;
    position: relative;
}

.progress__timeline .timeline-progress,
.progress__timeline .timeline-total {
    padding: 4px;
    position: absolute;
    transform: translate(0, -50%);
    border-radius: 50px;
}

.progress__timeline .timeline-progress {
    background-color: var(--font-lightgrey);
    width: 35%;
    z-index: 1;
}

.progress__timeline .timeline-total {
    background-color: var(--font-grey);
    width: 100%;
}

.progress__time,
.total__time {
    font-size: 0.75rem;
}

/* other option section */
.other-option > .row {
    gap: 0 10px;
    padding: 0 10px;
    align-items: center;
}

.progress__volume {
    position: relative;
    width: 100px;
}

.volume-progress,
.volume-total {
    padding: 4px;
    border-radius: 50px;
    position: absolute;
    transform: translate(0, -50%)
}

.volume-progress {
    background-color: var(--font-lightgrey);
    width: 35%;
    z-index: 1;
}

.volume-total {
    background-color: var(--font-grey);
    width: 100%;
}

.button-settings {
    display: none;
}



/*****************
navbar rules 
******************/
/* .app-nav .container {
    padding-top: 20px; // obsoleto
} */

.app-nav .container > .row {
    flex-direction: column;
    gap: 30px 0;
}

.app-nav .playlist-menu {
    flex-grow: 1;
}

/* main-menu section */
.nav__button {
    display: flex;
    align-items: center;
    align-content: center;
    gap: 0 10px;
    text-align: center;
    padding: 10px 0;
}

.nav__button .button__icon {
    flex-basis: 2rem;
    font-size: 1.5rem;
}

.button__icon.button--big,
.button__text.button--big {
    font-size: 2.5rem;
    font-weight: 700;
}